<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student data</title>
</head>
<body>
<table>
  <tr>
    <th>F Name</th>
    <th>L Name</th>
    <th>Email</th>
    <th>DOB</th>
    <th>Grade Level</th>
    <th>EN Date</th>
  </tr>
  <tr>
    <td>{{ st.first_name }}</td>
    <td>{{ st.last_name }}</td>
    <td>{{ st.email }}</td>
      <td>{{ st.date_of_birth }}</td>
    <td>{{ st.grade_level }}</td>
    <td>{{ st.enrollment_date }}</td>
  </tr>
</table>
<!--<ul>-->
<!--  <li><h5>First Name &ndash;&gt; {{ st.first_name }}</h5> </li>-->
<!--  <li><h5>Last Name  &ndash;&gt; {{ st.last_name }}</h5></li>-->
<!--</ul>-->
</body>
</html>